html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #303030 url("../assets/images/hero.jpg") no-repeat center center /
		cover;
	color: #fff;
	font-family: "Lato", sans-serif;
}

body * {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0;
}

h1 {
	left: 50%;
	margin: 0;
	background: url("../assets/images/logo.svg") no-repeat center center / 339px
		105px;
	height: 105px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	transform: translate(-50%, -100%);
	top: 50%;
	white-space: nowrap;
	width: 339px;
}

.cross {
	left: 50%;
	position: absolute;
	top: 40px;
	transform: translate(-50%, 0);
	width: 20px;
}

.launching-soon {
	bottom: 40px;
	font-weight: 700;
	left: 0;
	letter-spacing: 4px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.divider {
	background-color: #fff;
	height: 2px;
	width: 20px;
	margin: 20px auto;
}

.btn-subscribe {
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	font-size: 0.8em;
	height: 40px;
	letter-spacing: 2px;
	line-height: 40px;
	padding: 0 20px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-subscribe::before {
	bottom: 2px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	content: "";
	display: block;
	left: 2px;
	pointer-events: none;
	position: absolute;
	right: 2px;
	top: 2px;
	transform: scale(0, 0);
	transform-origin: 0 100%;
	transition: transform 0.3s ease-in-out;
}

.btn-subscribe::after {
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	bottom: 2px;
	content: "";
	display: block;
	left: 2px;
	pointer-events: none;
	position: absolute;
	right: 2px;
	top: 2px;
	transform: scale(0, 0);
	transform-origin: 100% 0;
	transition: transform 0.3s ease-in-out;
}

.btn-subscribe:hover::after {
	transform: scale(1, 1);
}

.btn-subscribe:hover::before {
	transform: scale(1, 1);
}

.contributors {
	font-size: 12px;
	margin-top: 15px;
}

.contributor {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding-bottom: 2px;
	transition: all 0.3s;
}

.contributor:hover {
	padding-bottom: 4px;
	border-color: rgba(255, 255, 255, 1);
}

@media (max-width: 400px) {
	body {
		font-size: 62.5%;
	}
	h1 {
		background-size: 260px 80px;
		height: 80px;
		width: 260px;
	}
}
